<div class="experience">
    <div id="top" class="first">


        <img class="img" src="/assets/logo3.svg" alt="Experience">
    </div>
    <div class="second">
        <div class="second-center">
            <div class="first-para-container">
                <p class="first-para">Hi, I’m Mehfuz. Nice to meet you.</p>
            </div>
            <p class="second-para">I’m a computer engineering student who loves building things—whether it's web apps, Android tips, YouTube content, or anything related to tech. Since the beginning of my journey, I’ve explored coding, design, video creation, and AI tools, and I’ve enjoyed learning something new every single day.

I’ve worked on multiple projects in web development, improved my communication skills through content creation, and continuously challenge myself to grow in areas like JavaScript, Angular, React, and Data Structures.

I’m quietly confident, naturally curious, and always improving—whether it’s my coding skills, creativity, or the way I explain ideas. My goal is simple: to keep learning, keep building, and keep becoming a better version of myself.</p>
        </div>

        
    </div>
    <div id="third" class="third">
        <div class="third-item">
           <i class="bi bi-brush"></i>
           <p>Design</p>
           <p class="third-item-para">I enjoy creating clean, simple, and visually appealing layouts that help users interact effortlessly. I focus on clarity, structure, and smooth user experience.</p>
           <p>Things I enjoy designing:</p>
           <div class="color">
            UX,
            UI,
            Web Interfaces,
            Apps,
            Thumbnails,
            Logos
           </div>
           <p class="language">Design Tools I use:</p>
           <div>
            <p>Figma</p>
            <p>Adobe XD</p>
            <p>Adobe Photoshop</p>
            <p>Adobe Illustrator</p>
           </div>
        </div>
        <div class="third-item">
            <i class="bi bi-code-slash"></i>
            <p>Code</p>
            <p class="third-item-para">I love turning ideas into real, functional websites. Writing clean code, improving performance, and building smooth user experiences is what excites me the most.</p>
            <p>Languages I speak:</p>
            <div class="color">
                JavaScript,
                TypeScript,
                Python,
                Java
            </div>
            <p class="language">Dev Tools I use:</p>
            <div>
                <p>Visual Studio Code</p>
                <p>Git</p>
                <p>GitHub</p>
                <p>Bootstrap</p>
                <p>Angular CLI</p>
                <p>Netlify</p>
            </div>
        </div>
        <div class="third-item">
            <i class="bi bi-code-slash"></i>
            <p>Code</p>
            <p class="third-item-para">I love turning ideas into real, functional websites. Writing clean code, improving performance, and building smooth user experiences is what excites me the most.</p>
            <p >Languages I speak:</p>
            <div class="color">
                JavaScript,
                TypeScript,
                Python,
                Java
            </div>
            <p class="language">Dev Tools I use:</p>
            <div>
                Visual Studio Code
                Git
                GitHub
                <p>Bootstrap</p>
                <p>Angular CLI</p>
                <p>Netlify</p>
            </div>
        </div>
    </div>
</div>
