<div id="works" class="works">
    <div class="work-item1">
        <p>My Recent Work</p>
    </div>
    <div class="work-item2">
        <p>Here are a few past design projects I've worked on. Want to see more? Email me.</p>
    
    </div>
    <div class="work-item3">
        <div class="work-item3-row">
            <a href="https://travel-website-one-xi.vercel.app" class="work-item3-card work-item3-card1">travel-website<i class="bi bi-arrow-up-right bold-arrow"></i>
</a>
            <a href="https://simran-computer.vercel.app/" class="work-item3-card work-item3-card2">computer-website<i class="bi bi-arrow-up-right bold-arrow"></i></a>
            <a href="https://react-tool-1.vercel.app/" class="work-item3-card work-item3-card3">react-website<i class="bi bi-arrow-up-right bold-arrow"></i></a>
        </div>
        <div class="work-item3-row">
            <a href="https://github.com/MEHFUZ-dev/chess-app" class="work-item3-card work-item3-card4">chess-website<i class="bi bi-arrow-up-right bold-arrow"></i></a>
            <a href="https://paste-app-vx4v.vercel.app/" class="work-item3-card work-item3-card5">paste-app<i class="bi bi-arrow-up-right bold-arrow"></i></a>
            <a href="https://github.com/MEHFUZ-dev" class="work-item3-card work-item3-card6">more<i class="bi bi-arrow-up-right bold-arrow"></i></a>
        </div>
    </div>
    <div class="work-item4">
        <i class="bi bi-globe"></i>

         see more on GitHub
    </div>
</div>
